/* styles.css */
.container {
    text-align: center;
}

.cell {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid #000;
    margin: 1px;
    text-align: center;
    line-height: 30px;
    background-color: #ccc;
}

.flag {
    background-color: yellow;
}
